@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background: #f1f7ff;
  }
  /*
  #eef5f1;
  rgba(171, 201, 199, 0.8);
  */
  .navbar {
    background: rgba(95, 158, 160, 0.8);
    backdrop-filter: blur(8px);
    color: white;
  }
  .navbar-light .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    transition: color 0.50s ease-in-out, background-color 0.30s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .navbar-light .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-light .navbar-toggler:active {
    color: #fff;
    background-color: #dddddd;
    border: 1px solid transparent;
    transition: 1s;
    box-shadow: 0 0.2em #dfd9d9;
  }
  .nav-link {
    font-size: large;
    color: white;
  }

  .nav-item {
    cursor: pointer;
    color: white;
  }
  .nav-item:hover {
      color: whitesmoke;
  }

  .container-car-home {
    border: solid rgba(43, 43, 43, 0.692) 1px;
    background-image: url('../img/scrivania.jpg');
    opacity: 0.9;
    background-size: cover;
    margin-top: 4em;
    margin-bottom: 1rem;
    width: 100%;
    height: 70%;

    box-shadow: rgba(149, 157, 165, 0.424) 0px 8px 24px;
  }


  @media (max-width: 1200px) {
    .container-car-home {
      height: 500px;
    }
  }

  @media (max-width: 900px) {
    .container-car-home {
      height: 700px;
    }
  }

  @media (max-width: 750px) {
    .container-car-home {
      height: 900px;
    }
  }

  @media (max-width: 550px) {
    .container-car-home {
      height: 1200px;
    }
  }

  @media (max-width: 350px) {
    .container-car-home {
      height: 1300px;
    }
  }


  .title{
    padding-left:20px; 
    margin-top: 3em;
  }

  .cont-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 0 auto;
    margin-top: 1em;
    opacity: 1;
    background-color: #dfd9d9c4;
    background-size: cover;
    color: solid black;
    width: 70%;
    height: 90%;
    
  }

  .box1{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .box2{
    flex: 50%;
    width: 100%;
    height: 100%;
    margin-top: 2em;
  }
  
  @media (max-width: 800px) {
    .box1 {
      flex: 100%;
      height: 100%;
    }
  }

  .mylist {
    list-style-type: square;
  }


  .card-group {
    padding: 1rem;
    gap: 1em;
  }

  .card {
    padding: 1rem;

    box-shadow: rgba(149, 157, 165, 0.424) 0px 8px 24px;
  }

  .card-img-top:hover {
    transform: scale(1.05);
  }

  
  .grid-container {
   display: grid;
   padding: 2em;
   grid-template-rows: auto auto auto;
  }

  
  .cont-int {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1em;
    gap: 4em;
    justify-content: center;
    background-color: #ffffff; 
    
  }

  .elem {
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.424) 0px 8px 24px;
  }

  .dish {
    width: 310px;
    min-width: 250px;
    height: 310px;
    min-height: 250px;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
   }

   .centered:hover{
     cursor: default;
   }

  .dish:hover{
    opacity: 0.7;
    transform: scale(1.02);
  }

  .sport {
   
   display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    padding: 2em;
    
  }

  .row {
    padding: 1em;
    text-align: center;
    justify-content: center;
    color: white;
  }

  .myFoo {
    background-color: rgba(113, 134, 133, 0.8);
    margin: 0 auto;
    margin-top: 7em;
    text-align: center;
  }

  .mail {
    color: white;
  }

  .mail:hover {
    color: white;
    font-weight: bold;
  }

  .linkedin {
    color: white;
  }
  .linkedin:hover{
    color: white;
    font-weight: bold;
  }